- if (typeof info != 'undefined' && info.length)
	.fade.in.alert.alert-block.alert-info
		ul
			- each inf in info
				li!= inf

- if (typeof errors != 'undefined' && errors.length)
	.fade.in.alert.alert-block.alert-error
		ul
			- each error in errors
				li!= error

- if (typeof success != 'undefined' && success.length)
	.fade.in.alert.alert-block.alert-success
		ul
			- each succ in success
				li!= succ

- if (typeof warning != 'undefined' && warning.length)
	.fade.in.alert.alert-block.alert-warning
		ul
			- each warn in warning
				li!= warn

- if (typeof messages != 'undefined' && messages.length)
	.fade.in.alert.alert-block.alert-error
		ul
			- each message in messages
				li!= message.text
