p=locals.i18n.t('views.mailer.password.recover.salute', { username: locals.user.name})

p=locals.i18n.t('views.mailer.password.recover.intro')

p 
	a(href='#{locals.serverUrl}/new_password/#{locals.token._id}')=locals.i18n.t('views.mailer.password.recover.link')

p=locals.i18n.t('views.mailer.password.recover.ignore')

p=locals.i18n.t('views.mailer.password.recover.thanks')
