p=locals.t('views.mailer.password.recover.salute', { username: locals.contributor.name})

p=locals.t('views.mailer.password.recover.intro')

p 
	a(href='#{settings.general.serverUrl}/new_password/#{locals.token._id}')=locals.t('views.mailer.password.recover.link', {defaultValue: 'Change password now.')

p=locals.t('views.mailer.password.recover.ignore')

p=locals.t('views.mailer.password.recover.thanks')
