doctype html
html
	block css
		link(rel="stylesheet", href="/css/admin.css")
	include ../includes/head
		body.admin-login
		
		section#login
			.login-content
				h1= t('views.admin.first_admin.administrative_area')
				include ../includes/messages
				p= t('views.admin.first_admin.create_first_admin_user')
				.login-form
					form.form-horizontal(action="/admin/first_admin", method="post", role="form")
						input(type='hidden', name='_csrf', value="#{csrf_token}")

						p.col-sm-offset-2.error= message

						.form-group
							label.col-sm-2.control-label(for="name")=t('views.admin.first_admin.name')
							.col-sm-10
								input#email.form-control(type="name", placeholder=t('views.admin.first_admin.name'), name="name")


						.form-group
							label.col-sm-2.control-label(for="email")=t('views.admin.first_admin.email')
							.col-sm-10
								input#email.form-control(type="email", placeholder=t('views.admin.first_admin.email'), name="email")

						.form-group
							label.col-sm-2.control-label(for="password")=t('views.admin.first_admin.password')
							.col-sm-10
								input#password.form-control(type="password", placeholder=t('views.admin.first_admin.password'), name="password")

						input.btn.btn-primary(type='submit' value=t('views.admin.first_admin.create_admin'))
