ul
	li
		a(href="/admin/settings")=t('Settings')
		ul
			li
				a(href="/admin/settings")=t('General')
			li
				a(href="/admin/settings/mail")=t('Mailer')

	li
		a(href="/admin/users")=t('Users')
		ul
			li
				a(href="/admin/users/invite")=t('Invite new')
			li
				a(href="/admin/users/roles")=t('Manage roles')