doctype html
html.landing
	include ../includes/head
	body
		header#mast-header
			.container
				.five.columns
					h1
						a(class="brand" href="/") Mapas Coletivos
							img(alt="Mapas Coletivos" src="/img/logo-big.png")
					h2 Narrativas Colaborativas
				.seven.columns
					ul#mast-nav
						- if (req.isAuthenticated())
							li
								a.button(href="/explore", title="Explorar") Explorar
							li
								a.button(href="/dashboard", title="Painel de controle") Painel de controle
							li
								a.button(href="/logout", title="Sair") Sair
						- else
							li
								a.button.light-button(href="/explore", title="Explorar") Explorar
							li 
								a.button.login(href="/login") Entrar
		section#highlight
			.container
				.four.columns
					.highlight-block.publish
						img.icon(src="/img/icon_publish.png" alt="Publique seus dados")
						h2 Publique seus dados
						p.block-text Faça camadas com MapBox e Stamen ou criando pontos no mapa
				.four.columns
					.highlight-block.publish
						img.icon(src="/img/icon_story.png" alt="Conte suas histórias")
						h2 Conte suas histórias
						p.block-text Publique relatos, fotos e vídeos geolocalizados
				.four.columns
					.highlight-block.publish
						img.icon(src="/img/icon_view.png" alt="Visualize")
						h2 Visualize
						p.block-text Crie seus mapas misturando camadas públicas de dados e histórias
			.links
				a.more(href="/tutorial") Saiba mais sobre a ferramenta
				a.register(href="/signup") <strong>Cadastre-se</strong> e comece a mapear!
		section#featured-projects
			.project
				.container
					.five.columns
						h2 Destaque
				.project-info
					h3 Riscos de inundação na costa carioca
					p.author Gustavo Faleiros
					a.button(href="http://alpha.mapascoletivos.com.br/layers/5318c853f352b70d6fa7e278/" target="_self") Veja o mapa
		if selectedProjects
			section#selected-projects.home-section
				.container
					.twelve.columns
						.title
							h2 Mapas selecionados
					.project-list
						ul
							each project, i in selectedProjects
								li.four.columns
									article
										.img(style="background-image:url(#{project.img})")
											a(href="#{project.url}" title="#{project.title}")
										h3
											a(href="#{project.url}" title="#{project.title}") #{project.title}
										p #{project.description}


		include ../includes/footer