extends ../../layouts/admin-area

block content
	section#dashboard
		p Defina aqui as configurações gerais do seu site.
		form(action="/admin/settings" method="post" role="form")
			table.form
				tr
					td.label
						label(for="site.title") Título do site
					td.input
						input(name="site[title]" value=site.title type="text" placeholder="Digite o título do site")=site.title
				tr
					td.label
						label(for="site.description") Descrição do site
					td.input
						textarea(name="site[description]" rows="5" placeholder="Digite uma breve descrição do site")=site.description
				tr
					td.label
						label(for="site.clientUrl") URL do cliente
					td.input
						textarea(name="site[clientUrl]" placeholder="Ex.: http://www.mapascoletivos.com.br")=site.clientUrl
				tr
					td.label
						label(for="site.baselayer") Camada base padrão
					td.input
						input(name="site[baselayer]" value=site.baselayer type="text" placeholder="URL em TileLayer da camada base")
				tr
					td.label
						label(for="site.allowImports") Permitir importações (CSV, GeoJSON, KML):
					td.input
						input(type="checkbox" name="site[allowImports]" checked=site.allowImports)
						
			input.btn.btn-primary(type='submit' value="Update")