extends ../../layouts/admin-area

block content
	section#dashboard
		h3=t('General settings')
		form(action="/admin/settings" method="post" role="form")
			table.form
				tr
					td.label
						label(for="settings.title")=t('Site title')
					td.input
						input(name="settings[title]" value=settings.title type="text" placeholder=t("your site title"))
				tr
					td.label
						label(for="settings.description")=t('Site description')
					td.input
						textarea(name="settings[description]" rows="5" placeholder=t("a brief site description"))=settings.description
				tr
					td.label
						label(for="settings.serverUrl")=t('Server URL')
					td.input
						input(name="settings[serverUrl]" value=settings.serverUrl type="text" placeholder=t("your yby server URL"))
				tr
					td.label
						label(for="settings.clientUrl")=t('Client URL')
					td.input
						input(name="settings[clientUrl]" value=settings.clientUrl type="text" placeholder=t("your yby client URL"))
				tr
					td.label
						label(for="settings.onlyInvitedUsers")=t('Only invited users can register')
					td.input
						input(type="checkbox" name="settings[onlyInvitedUsers]" checked=settings.onlyInvitedUsers)
				tr
					td.label
						label(for="settings.allowImports")=t('Allow geo-files import')
					td.input
						input(type="checkbox" name="settings[allowImports]" checked=settings.allowImports)
						
			input.btn.btn-primary(type='submit' value=t("Update"))