extends ../../layouts/admin-area

block content
	section#dashboard
		h3=t('views.admin.settings.index.general_settings')
		form(action="/admin/settings" method="post" role="form")
			table.form
				tr
					td.label
						label(for="settings.language")=t('views.admin.settings.index.site_language')
					td.input
						select(name='settings[language]')
							option(value='en', selected=settings.language == 'en')=t('views.admin.settings.index.english')
							option(value='es', selected=settings.language == 'es')=t('views.admin.settings.index.spanish')
							option(value='pt-BR', selected=settings.language == 'pt-BR')=t('views.admin.settings.index.brazilian_portuguese')
				tr
					td.label
						label(for="settings.title")=t('views.admin.settings.index.site_title')
					td.input
						input(name="settings[title]" value=settings.title type="text")
				tr
					td.label
						label(for="settings.description")=t('views.admin.settings.index.site_description')
					td.input
						textarea(name="settings[description]" rows="5")=settings.description
				tr
					td.label
						label(for="settings.serverUrl")=t('views.admin.settings.index.server_url')
					td.input
						input(name="settings[serverUrl]" value=settings.serverUrl type="text")
				tr
					td.label
						label(for="settings.clientUrl")=t('views.admin.settings.index.client_url')
					td.input
						input(name="settings[clientUrl]" value=settings.clientUrl type="text")
				tr
					td.label
						label(for="settings.allowedDomains")=t('views.admin.settings.index.cors_allowed_domains')
					td.input
						input(name="settings[allowedDomains]" value=settings.allowedDomains type="text")
				tr
					td.label
						label(for="settings.cdnUrl")=t('views.admin.settings.index.cdn_url')
					td.input
						input(name="settings[cdnUrl]" value=settings.cdnUrl type="text")
				tr
					td.label
						label(for="settings.facebookApiKey")=t('views.admin.settings.index.facebookApiKey')
					td.input
						input(name="settings[facebookApiKey]" value=settings.facebookApiKey type="text")
				tr
					td.label
						label(for="settings.googleApiKey")=t('views.admin.settings.index.googleApiKey')
					td.input
						input(name="settings[googleApiKey]" value=settings.googleApiKey type="text")
				tr
					td.label
						label(for="settings.onlyInvitedUsers")=t('views.admin.settings.index.only_invited_can_register')
					td.input
						input(type="checkbox" name="settings[onlyInvitedUsers]" checked=settings.onlyInvitedUsers)
				tr
					td.label
						label(for="settings.allowImports")=t('views.admin.settings.index.allow_geofiles_import')
					td.input
						input(type="checkbox" name="settings[allowImports]" checked=settings.allowImports)
						
			input.btn.btn-primary(type='submit' value=t("views.admin.settings.index.update"))