extends ../../layouts/admin-area

block content
	section#dashboard
		p Defina aqui as configurações gerais do seu site.
		form(action="/admin/settings" method="post" role="form")
			table.form
				tr
					td.label
						label(for="settings.title") Título do site
					td.input
						input(name="settings[title]" value=settings.title type="text" placeholder="Digite o título do site")=settings.title
				tr
					td.label
						label(for="settings.description") Descrição do site
					td.input
						textarea(name="settings[description]" rows="5" placeholder="Digite uma breve descrição do site")=settings.description
				tr
					td.label
						label(for="settings.serverUrl") URL do servidor
					td.input
						textarea(name="settings[serverUrl]")=settings.serverUrl
				tr
					td.label
						label(for="settings.clientUrl") URL do cliente
					td.input
						textarea(name="settings[clientUrl]" placeholder="Ex.: http://www.mapascoletivos.com.br")=settings.clientUrl
				tr
					td.label
						label(for="settings.baselayer") Camada base padrão
					td.input
						input(name="settings[baselayer]" value=settings.baselayer type="text" placeholder="URL em TileLayer da camada base")
						
			input.btn.btn-primary(type='submit' value="Update")