extends ../../layouts/admin-area

block content
	section#dashboard
		h3=t('Mange user roles')
		- console.log(errors);
		include ../../includes/messages.jade
		
		
		- if (!users)
			p=t('There are no users!')
		- else 		
			table
				thead
					tr
						th=t('Name')
						th=t('E-mail')
						th=t('Permissão')
				tbody
					- each user in users
						tr
							td=user.name
							td=user.email
							td
								form.form-horizontal(action="/admin/users/role", method="post", role="form")
									input(type='hidden', name='user_id', value="#{user._id}")
									select(name='role')
										- each role in ['collaborator', 'editor', 'admin']
											option(value=role, selected=user.role == role)=t(role)
									input.btn.btn-primary(type='submit' value=t('Change'))