extends ../../layouts/admin-area

block content
	section#dashboard
		h3=t('views.admin.users.roles.manage_user_roles')
		include ../../includes/messages.jade
		
		
		- if (!users)
			p=t('views.admin.users.roles.there_are_no_users')
		- else 		
			table
				thead
					tr
						th=t('views.admin.users.roles.name')
						th=t('views.admin.users.roles.email')
						th=t('views.admin.users.roles.role')
				tbody
					- each user in users
						tr
							td=user.name
							td=user.email
							td
								form.form-horizontal(action="/admin/users/role", method="post", role="form")
									input(type='hidden', name='user_id', value="#{user._id}")
									select(name='role')
										- each role in ['collaborator', 'editor', 'admin']
											option(value=role, selected=user.role == role)=t(role)
									input.btn.btn-primary(type='submit' value=t('views.admin.users.roles.change'))