extends ../layouts/default

block main
  h1= title
  hr

block content
  - var action = '/features'
  - action += feature.isNew? '' : '/' + feature.id

  .row
    .col-md-8
      form.form-horizontal(method="post", action=action, enctype="multipart/form-data", role="form")

        input(type="hidden", name="_csrf", value="#{csrf_token}")

        - if (!feature.isNew)
          input(type="hidden", name="_method", value="PUT")

        .form-group
          label.col-sm-2.control-label(for='title') Title
          .col-sm-10
            input.form-control#title(type='text', name="title", value=feature.title, placeholder='Enter the title')

        .form-group
          label.col-sm-2.control-label(for='tags') Tags
          .col-sm-10
            input.form-control#tags(type='text', name="tags", value=feature.tags, placeholder='Enter the tags')

        .form-group
          .col-sm-offset-2.col-sm-10
            button.btn.btn-primary(type='submit') Save
            | &nbsp;
            a.btn(href='/features', title="cancel") Cancel

